<header class="site-header">
  <!-- <a class="site-title" href="{{ site.baseurl }}/"><img src="holder.js/500x150"></a> -->
  <!-- <a class="site-title" href="{{ site.baseurl }}/"><img src="assets/head.jpg"></a> -->
  <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/head.jpg" class="site-header-image">
</a>

    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/landscape_oil/">landscape (oil)</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/landscape_pastel/">landscape (pastel)</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/still_life/">still life</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/contact/">contact</a></li>


    </ul>
  </nav>

</header>
